.App {
    text-align: center;
    background-color: #282c34;
    background-size: cover;
}

.App-header {
    background-color: #181c24;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: calc(2vmin);
    padding-bottom: calc(2vmin);
    color: antiquewhite;
}

.Nav-btn {
    background-color: #282c34;
    color: antiquewhite;
    border-radius: 4px 20px;
    min-width: 10%;
}

.Nav-btn:hover {
    background: #484c54;
}

.container {
    min-height: 1217px;
}

.workspace-up {
    background-color: #383c44;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 10%;
    width: 90%;
    color: antiquewhite;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    text-align: center;
}

.go-btn {
    background: #383c44;
    margin: 2px;
    padding: 4px;
    color: antiquewhite;
    border-radius: 8px;
}
.go-btn:hover {
    background: #484c54;
}


.workspace-bottom {
    background-color: #383c44;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 800px;
    width: 90%;
    color: antiquewhite;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    text-align: center;
}

.status-block {
    color: limegreen;
    width: max-content;
    height: available;
    float: right;
}

.query-block {
    height: 30%;
    width: 30%;
    float: left;
}

.query {
    margin-inside: 10px;
    height: available;
    width: available;
}

.api-user {
    background-color: #343434;
    display: block;
    width: auto;
    margin: 2%;
    border-radius: 3px;
    padding: 12px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    text-align: left;
}


.data-box {
    background-color: #343434;
    display: block;
    width: auto;
    height: 80%;
    margin: 2%;
    border-radius: 3px;
    padding: 12px;
    overflow: scroll;
    border-width:1px;
    border-style:solid;
    border-color:black;

}

.User {
    background-color: #242424;
    display: flex;
    width: auto;
    margin: 2%;
    border-radius: 12px;
    padding: 12px;
    overflow: scroll;
}

.card-user {
    background-color: #242424;
    margin: 1%;
    border-radius: 12px;
    padding: 12px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    text-align: left;
}

.card-car {
    background-color: #242424;
    margin: 1%;
    border-radius: 12px;
    padding: 12px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    text-align: left;
}

.user-details {
    display: inline-block;
    min-width: available;
}
.id-user {
    color: crimson;
}

.id-car {
    color: darkmagenta;
}